@model  Message

<div class="row">
    <div class="col-12">
        <h3 class="mb-5">Müraciət (@Model.FullName)</h3>
        <h5 style="color:black;">
            @Model.MessageText
        </h5>
    </div>
</div>
